[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/zipped-contracts"]
	path = lib/zipped-contracts
	url = https://github.com/merklejerk/zipped-contracts
